<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
	<!-- This is your CruiseControl.NET Server Configuration file. Add your projects below! -->
	<!--
		<project name="MyFirstProject" />
	-->
     	<project name="AutoVersion" queue="AutoVersionProject" queuePriority="1">
		<category>Visual Studio 6.0</category>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<initialState>Stopped</initialState>
		<startupMode>UseInitialState</startupMode>

		<webURL>http://127.0.0.1/ccnet</webURL>
		<artifactDirectory>..\..\Prototype\AutoVersion\Log</artifactDirectory>
		<workingDirectory>..\..\Prototype\AutoVersion</workingDirectory>
		<modificationDelaySeconds>2</modificationDelaySeconds>
		<labeller type="dateLabeller" />

		<sourcecontrol type="svn" autoGetSource="true">
			<executable>..\..\Tools\Subversion\bin\svn.exe</executable>
			<username>harry</username>
			<password>harryssecret</password>
			<trunkUrl>https://hwccnet.googlecode.com/svn/trunk/Source/AutoVersion</trunkUrl>
		</sourcecontrol>

		<tasks>
			<exec>
				<executable>MSDEV.exe</executable>
				<baseDirectory>D:\Microsoft Visual Studio\Common\MSDev98\Bin</baseDirectory>
				<buildArgs>..\..\..\..\hwccnet\ccnet\Prototype\AutoVersion\AutoVersion.dsw /MAKE "ALL - Win32 Debug" /REBUILD</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
				<successExitCodes>0</successExitCodes>
				<environment>
				</environment>
			</exec>
			
		</tasks>

		<publishers>
			<xmllogger />

			<email from="hwbuild@hotmail.com" mailhost="smtp.live.com" mailport="25" includeDetails="TRUE" mailhostUsername="hwbuild@hotmail.com" mailhostPassword="public" useSSL="TRUE">
				<users>
					<user name="harry" address="lwcalculator@googlegroups.com" group="developer" />
				</users>

				<groups>
					<group name="developer" notification="Always" />
				</groups>

				<modifierNotificationTypes>
					<NotificationType>Always</NotificationType>
				</modifierNotificationTypes>
			</email>
		</publishers>
	 </project>

     	<project name="WinHTTPLW" queue="WinHTTPLWProject" queuePriority="1">
		<category>Visual Studio 2008</category>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<initialState>Stopped</initialState>
		<startupMode>UseInitialState</startupMode>

		<webURL>http://127.0.0.1/ccnet</webURL>
		<artifactDirectory>..\..\Prototype\WinHTTPLW\Log</artifactDirectory>
		<workingDirectory>..\..\Prototype\WinHTTPLW</workingDirectory>
		<modificationDelaySeconds>2</modificationDelaySeconds>
		<labeller type="dateLabeller" />

		<triggers>
			<intervalTrigger name="continuous" seconds="30" buildCondition="ForceBuild" initialSeconds="30"/>
		</triggers>

		<sourcecontrol type="svn" autoGetSource="true">
			<executable>..\..\Tools\Subversion\bin\svn.exe</executable>
			<username>harry</username>
			<password>harryssecret</password>
			<trunkUrl>https://hwccnet.googlecode.com/svn/trunk/Source/WinHTTPLW</trunkUrl>
		</sourcecontrol>

		<tasks>
			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\WinHTTPLW\WinHTTPLW\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>
			<exec>
				<executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
				<baseDirectory>..\..\Prototype\WinHTTPLW\</baseDirectory>
				<buildArgs>BuildTest.msbuild</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>
			
			<nunit path="..\..\Prototype\WinHTTPLW\GoogleTest.exe">
				<assemblies>
					<assembly>*noassembly*</assembly>
				</assemblies>
			</nunit>
		</tasks>

		<publishers>
			<merge>
				<files>
					<file>TestResult.xml</file>
				</files>
			</merge>

			<xmllogger />

			<email from="hwbuild@hotmail.com" mailhost="smtp.live.com" mailport="25" includeDetails="TRUE" mailhostUsername="hwbuild@hotmail.com" mailhostPassword="public" useSSL="TRUE">
				<users>
					<user name="harry" address="lwcalculator@googlegroups.com" group="developer" />
				</users>

				<groups>
					<group name="developer" notification="Always" />
				</groups>

				<modifierNotificationTypes>
					<NotificationType>Always</NotificationType>
				</modifierNotificationTypes>
			</email>
		</publishers>
	 </project>

     	<project name="WinService" queue="WinServiceProject" queuePriority="1">
		<category>Visual Studio 2008</category>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<initialState>Stopped</initialState>
		<startupMode>UseInitialState</startupMode>

		<webURL>http://127.0.0.1/ccnet</webURL>
		<artifactDirectory>..\..\Prototype\WinService\Log</artifactDirectory>
		<workingDirectory>..\..\Prototype\WinService</workingDirectory>
		<modificationDelaySeconds>2</modificationDelaySeconds>
		<labeller type="dateLabeller" />

		<triggers>
			<intervalTrigger name="continuous" seconds="30" buildCondition="ForceBuild" initialSeconds="30"/>
		</triggers>

		<sourcecontrol type="svn" autoGetSource="true">
			<executable>..\..\Tools\Subversion\bin\svn.exe</executable>
			<username>harry</username>
			<password>harryssecret</password>
			<trunkUrl>https://hwccnet.googlecode.com/svn/trunk/Source/WinService</trunkUrl>
		</sourcecontrol>

		<tasks>
			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\WinService\WinService\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
				<baseDirectory>..\..\Prototype\WinService</baseDirectory>
				<buildArgs>BuildTest.msbuild</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>
			
		</tasks>

		<publishers>
			<xmllogger />

			<email from="hwbuild@hotmail.com" mailhost="smtp.live.com" mailport="25" includeDetails="TRUE" mailhostUsername="hwbuild@hotmail.com" mailhostPassword="public" useSSL="TRUE">
				<users>
					<user name="harry" address="lwcalculator@googlegroups.com" group="developer" />
				</users>

				<groups>
					<group name="developer" notification="Always" />
				</groups>

				<modifierNotificationTypes>
					<NotificationType>Always</NotificationType>
				</modifierNotificationTypes>
			</email>
		</publishers>
	 </project>

     	<project name="Calculator" queue="CalculatorProject" queuePriority="1">
		<category>Visual Studio 2008</category>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<initialState>Stopped</initialState>
		<startupMode>UseInitialState</startupMode>

		<webURL>http://127.0.0.1/ccnet</webURL>
		<artifactDirectory>..\..\Prototype\Calculator\Log</artifactDirectory>
		<workingDirectory>..\..\Prototype\Calculator</workingDirectory>
		<modificationDelaySeconds>2</modificationDelaySeconds>
		<labeller type="dateLabeller" />

		<triggers>
			<intervalTrigger name="continuous" seconds="30" buildCondition="ForceBuild" initialSeconds="30"/>
		</triggers>

		<sourcecontrol type="svn" autoGetSource="true">
			<executable>..\..\Tools\Subversion\bin\svn.exe</executable>
			<username>harry</username>
			<password>harryssecret</password>
			<trunkUrl>https://hwccnet.googlecode.com/svn/trunk/Source/Calculator</trunkUrl>
		</sourcecontrol>

		<tasks>
			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\Calculator\ICalculator\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\Calculator\LWTool\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\Calculator\LWUI\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\Calculator\Test\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
				<baseDirectory>..\..\Prototype\Calculator</baseDirectory>
				<buildArgs>BuildTest.msbuild</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>
			
		</tasks>

		<publishers>
			<xmllogger />

			<email from="hwbuild@hotmail.com" mailhost="smtp.live.com" mailport="25" includeDetails="TRUE" mailhostUsername="hwbuild@hotmail.com" mailhostPassword="public" useSSL="TRUE">
				<users>
					<user name="harry" address="lwcalculator@googlegroups.com" group="developer" />
				</users>

				<groups>
					<group name="developer" notification="Always" />
				</groups>

				<modifierNotificationTypes>
					<NotificationType>Always</NotificationType>
				</modifierNotificationTypes>
			</email>
		</publishers>
	 </project>

     	<project name="RSSPlugin" queue="RSSPluginProject" queuePriority="1">
		<category>Visual Studio 2008</category>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<initialState>Stopped</initialState>
		<startupMode>UseInitialState</startupMode>

		<webURL>http://127.0.0.1/ccnet</webURL>
		<artifactDirectory>..\..\Prototype\RSSPlugin\Log</artifactDirectory>
		<workingDirectory>..\..\Prototype\RSSPlugin</workingDirectory>
		<modificationDelaySeconds>2</modificationDelaySeconds>
		<labeller type="dateLabeller" />

		<triggers>
			<intervalTrigger name="continuous" seconds="30" buildCondition="ForceBuild" initialSeconds="30"/>
		</triggers>

		<sourcecontrol type="svn" autoGetSource="true">
			<executable>..\..\Tools\Subversion\bin\svn.exe</executable>
			<username>harry</username>
			<password>harryssecret</password>
			<trunkUrl>https://hwccnet.googlecode.com/svn/trunk/Source/RSSPlugin</trunkUrl>
		</sourcecontrol>

		<tasks>
			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\RSSPlugin\RSSParser\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\RSSPlugin\RSSPlugin\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\RSSPlugin\test\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
				<baseDirectory>..\..\Prototype\RSSPlugin</baseDirectory>
				<buildArgs>BuildTest.msbuild</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>
			
		</tasks>

		<publishers>
			<xmllogger />

			<email from="hwbuild@hotmail.com" mailhost="smtp.live.com" mailport="25" includeDetails="TRUE" mailhostUsername="hwbuild@hotmail.com" mailhostPassword="public" useSSL="TRUE">
				<users>
					<user name="harry" address="lwcalculator@googlegroups.com" group="developer" />
				</users>

				<groups>
					<group name="developer" notification="Always" />
				</groups>

				<modifierNotificationTypes>
					<NotificationType>Always</NotificationType>
				</modifierNotificationTypes>
			</email>
		</publishers>
	 </project>

     	<project name="AutoUpdate" queue="AutoUpdateProject" queuePriority="1">
		<category>Visual Studio 2008</category>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<initialState>Stopped</initialState>
		<startupMode>UseInitialState</startupMode>

		<webURL>http://127.0.0.1/ccnet</webURL>
		<artifactDirectory>..\..\Prototype\Update\Log</artifactDirectory>
		<workingDirectory>..\..\Prototype\Update</workingDirectory>
		<modificationDelaySeconds>2</modificationDelaySeconds>
		<labeller type="dateLabeller" />

		<triggers>
			<intervalTrigger name="continuous" seconds="30" buildCondition="ForceBuild" initialSeconds="30"/>
		</triggers>

		<sourcecontrol type="svn" autoGetSource="true">
			<executable>D:\Subversion\bin\svn.exe</executable>
			<username>harry</username>
			<password>harryssecret</password>
			<trunkUrl>https://hwccnet.googlecode.com/svn/trunk/Source/Update</trunkUrl>
		</sourcecontrol>

		<tasks>
			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\Update\testUpdate\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\Update\Update\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
				<baseDirectory>..\..\Prototype\Update</baseDirectory>
				<buildArgs>BuildTest.msbuild</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>
			
		</tasks>

		<publishers>
			<xmllogger />

			<email from="hwbuild@hotmail.com" mailhost="smtp.live.com" mailport="25" includeDetails="TRUE" mailhostUsername="hwbuild@hotmail.com" mailhostPassword="public" useSSL="TRUE">
				<users>
					<user name="harry" address="lwcalculator@googlegroups.com" group="developer" />
				</users>

				<groups>
					<group name="developer" notification="Always" />
				</groups>

				<modifierNotificationTypes>
					<NotificationType>Always</NotificationType>
				</modifierNotificationTypes>
			</email>
		</publishers>
	 </project>

     	<project name="BatteryStatus" queue="BatteryStatusProject" queuePriority="1">
		<category>Visual Studio 2008</category>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<initialState>Stopped</initialState>
		<startupMode>UseInitialState</startupMode>

		<webURL>http://127.0.0.1/ccnet</webURL>
		<artifactDirectory>..\..\Prototype\Battery\Log</artifactDirectory>
		<workingDirectory>..\..\Prototype\Battery</workingDirectory>
		<modificationDelaySeconds>2</modificationDelaySeconds>
		<labeller type="dateLabeller" />

		<triggers>
			<intervalTrigger name="continuous" seconds="30" buildCondition="ForceBuild" initialSeconds="30"/>
		</triggers>

		<sourcecontrol type="svn" autoGetSource="true">
			<executable>..\..\Tools\Subversion\bin\svn.exe</executable>
			<username>harry</username>
			<password>harryssecret</password>
			<trunkUrl>https://hwccnet.googlecode.com/svn/trunk/Source/Battery</trunkUrl>
		</sourcecontrol>

		<tasks>
			<exec>
				<executable>..\..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\Battery\Battery\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
				<baseDirectory>..\..\Prototype\Battery</baseDirectory>
				<buildArgs>BuildTest.msbuild</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>
			
		</tasks>

		<publishers>
			<xmllogger />

			<email from="hwbuild@hotmail.com" mailhost="smtp.live.com" mailport="25" includeDetails="TRUE" mailhostUsername="hwbuild@hotmail.com" mailhostPassword="public" useSSL="TRUE">
				<users>
					<user name="harry" address="lwcalculator@googlegroups.com" group="developer" />
				</users>

				<groups>
					<group name="developer" notification="Always" />
				</groups>

				<modifierNotificationTypes>
					<NotificationType>Always</NotificationType>
				</modifierNotificationTypes>
			</email>
		</publishers>
	 </project>

     	<project name="WinHTTPTestUI" queue="WinHTTPTestUIProject" queuePriority="1">
		<category>Visual Studio 2008</category>
		<maxSourceControlRetries>5</maxSourceControlRetries>
		<initialState>Stopped</initialState>
		<startupMode>UseInitialState</startupMode>

		<webURL>http://127.0.0.1/ccnet</webURL>
		<artifactDirectory>..\..\Prototype\WinHTTPTestUI\Log</artifactDirectory>
		<workingDirectory>..\..\Prototype\WinHTTPTestUI</workingDirectory>
		<modificationDelaySeconds>2</modificationDelaySeconds>
		<labeller type="dateLabeller" />

		<triggers>
			<intervalTrigger name="continuous" seconds="30" buildCondition="ForceBuild" initialSeconds="30"/>
		</triggers>

		<sourcecontrol type="svn" autoGetSource="true">
			<executable>..\..\Tools\Subversion\bin\svn.exe</executable>
			<username>harry</username>
			<password>harryssecret</password>
			<trunkUrl>https://hwccnet.googlecode.com/svn/trunk/Source/WinHTTPTestUI</trunkUrl>
		</sourcecontrol>

		<tasks>
			<exec>
				<executable>..\AutoVersion\Debug\AutoVersion.exe</executable>
				<baseDirectory>..\..\Prototype\WinHTTPTestUI\</baseDirectory>
				<buildArgs>ntverp.h</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>

			<exec>
				<executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
				<baseDirectory>..\..\Prototype\WinHTTPTestUI</baseDirectory>
				<buildArgs>BuildTest.msbuild</buildArgs>
				<buildTimeoutSeconds>700</buildTimeoutSeconds>
			</exec>
			
		</tasks>

		<publishers>
			<xmllogger />

			<email from="hwbuild@hotmail.com" mailhost="smtp.live.com" mailport="25" includeDetails="TRUE" mailhostUsername="hwbuild@hotmail.com" mailhostPassword="public" useSSL="TRUE">
				<users>
					<user name="harry" address="lwcalculator@googlegroups.com" group="developer" />
				</users>

				<groups>
					<group name="developer" notification="Always" />
				</groups>

				<modifierNotificationTypes>
					<NotificationType>Always</NotificationType>
				</modifierNotificationTypes>
			</email>
		</publishers>
	 </project>