<cruisecontrol>
 <project name="Painter">
  <triggers>
    <intervalTrigger seconds="10"/>
  </triggers>
  <webURL>http://127.0.0.1/ccnet</webURL>
  <artifactDirectory>E:\Prototype\TestCase</artifactDirectory>
  <sourcecontrol type="svn" autoGetSource="true">
   <executable>D:\Program Files\Subversion\bin\svn.exe</executable>
   <username>harry</username>
   <password>harryssecret</password>
   <trunkUrl>svn://localhost/doc/trunk/TestCase</trunkUrl>
   <workingDirectory>E:\Prototype\TestCase</workingDirectory>
  </sourcecontrol>

 <tasks>
	<exec>
		<executable>MSDEV.exe</executable>
		<baseDirectory>C:\Program Files\Microsoft Visual Studio\Common\MSDev98\Bin</baseDirectory>
		<buildArgs>E:\Prototype\TestCase\TestCase.dsw /MAKE "ALL - Win32 Debug" /REBUILD</buildArgs>
		<buildTimeoutSeconds>10</buildTimeoutSeconds>
		<successExitCodes>0</successExitCodes>
		<environment>
		</environment>
	</exec>
	<!-->
	<exec> 
	<executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
	<baseDirectory>E:\Prototype\</baseDirectory> 
	<buildArgs>BuildTest.msbuild /p:Configuration=Release</buildArgs> 
	<buildTimeoutSeconds>1200</buildTimeoutSeconds> 
	</exec-->

	<exec>
    	<executable>rebuild.bat</executable>
    	<baseDirectory>E:\Prototype\</baseDirectory>
    	<buildTimeoutSeconds>10</buildTimeoutSeconds>
	</exec>
 </tasks> 

<publishers>
	<nunit>
      <path>E:\Prototype\TestCase\Debug\TestCase.exe</path>
      <assemblies>
        <assembly>*noassembly*</assembly>
      </assemblies>
      <outputfile>TestResult.xml</outputfile>
    </nunit>
    <merge>
    <files>
       <file>Result.xml</file>
    </files>
    </merge>
    <xmllogger />
	<email from="scmsgxz@163.com" mailhost="smtp.163.com" mailhostUsername="scmsgxz@163.com" mailhostPassword="1986520" includeDetails="true">
    <users>
       <user name="harry" group="harry" address="jimmyganxz@hotmail.com"/>
    </users>
    <groups>
        <group name="harry" notification="always"/>
    </groups>
	<converters />  
	<modifierNotificationTypes>  
		<NotificationType>Always</NotificationType>  
	</modifierNotificationTypes>
	</email>
</publishers>
<externalLinks>
	<externalLink name="My First Link" url="http://somewhere/" />
	<externalLink name="My Other Link" url="http://somewhere.else/" />
</externalLinks>

 </project>
</cruisecontrol>