#include <windows.h>

//
// We can change the macros in ntverp.h to change the file's type and version
//
#include "ntverp.h"


#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Produced by NesTa.xP"
#define VER_INTERNALNAME_STR        "RSSParser.exe"
#define VER_ORIGINALFILENAME_STR    "RSSParser.exe"

#include "common.ver"